# Assignment 1 - Intro to Python
___

## Exercise 1: Basics

### 1.1 

Convert the cell below into a markdown cell with the following content:

- A level 3 header titled "Markdown Cell"
- The following text: "This is a markdown cell"
- The following text in bold: "This is bold text"
- The following text in italics: "This text is italicized"

# 1.1 Answer

### Markdown Cell

This is a markdown cell

**This is bold text**

*This text is italicized*

### 1.2

What's the difference between a local and a global variable in Python? 
Use a multiline comment in the cell below for your answer.

In [111]:
# 1.2 Answer

#Local variables are defined inside a function and are limited to a specific function.
#They can only be accessed within a block of code that is declared.

#local variable

def f(): 
    x = 'Good morning' 
    print(x)

#Global variables are declared outside a function and they are accessible from any part of a program.
#They retain their value unless modified or changed. 

#Global variable

def name():
    global name
    name = 'J. Depp' 
    print('My name is', name)
    
name()
print('I am not', name)

My name is J. Depp
I am not J. Depp

### 1.3

Correct the following variable names following Python variable naming convention.

In [4]:
# 1.3.1

1st_variable = 'Hello'

SyntaxError: invalid decimal literal (2954512.py, line 1)

In [8]:
# 1.3.1 Answer
variable_1st = 'Hello'
print(variable_1st)

Hello

In [5]:
# 1.3.2

My_VAR = '5'

In [9]:
# 1.3.2 Answer

my_var = 5

### 1.4

Given the variables:

    country = 'Canada'
    city = 'Ottawa'

Use the `format()` method to print the following string: "**The capital of Canada is Ottawa**"

In [10]:
# 1.4 Answer

'The capital of {country} is {city}'.format(country = 'Canada', city = 'Ottawa')

'The capital of Canada is Ottawa'

## Exercise 2: Python Data Types

### 2.1 

Perform the following conversions:

In [6]:
# 2.1.1
# Convert this string into an integer using the int() function

s = '123'

In [11]:
# 2.1.1 Answer

s = '123'
print(int(s))

123

In [11]:
# 2.1.2
# Convert this number to a string using the str() function

i = 456

In [31]:
# 2.1.2 Answer

i = 456
string_number = str(i)
print(string_number)
type(string_number)

456

str

In [13]:
# 2.1.2 
# Convert this float to an integer

f = 3.14

In [13]:
# 2.1.2 Answer

f = 3.14
interger_number = int(f)
print(interger_number)

3

## Exercise 3: Data Containers

### 3.1

Create a list called **my_list** that contains the numbers from 1-5

In [76]:
# 3.1 Answer
my_list = list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

### 3.2

Use negative indexing to access the last element in **my_list**.

In [78]:
# 3.2 Answer

my_list[-1]

5

### 3.3

Create another list called **new_list** that contains 3 negative numbers only.

In [24]:
# 3.3 Answer

new_list = list(range(-3,0))
print(new_list)

[-3, -2, -1]

### 3.4

Append the second element of **new_list** to **my_list**, then print the updated **my_list**.

In [27]:
# 3.4 Answer

my_list.append(new_list)
my_list

[1, 2, 3, 4, 5, [-3, -2, -1]]

### 3.5

Create a dictionary with the following keys, 'Name', 'Year', 'Music' and 'Food'. The values associated with each key (in order) should be your name, the current year, you favourite genre of music and one of your favourite foods. 

Name the dictionary **my_dict** and print it.

In [37]:
# 3.5 Answer

my_dict = {'Name': 'Kevin', 'Year': '2024', 'Music' : 'RnB', 'Food': 'Everything'}
my_dict.values()

dict_values(['Kevin', '2024', 'RnB', 'Everything'])

### 3.6

Replace the value associated with 'Food' to another one of your favourite foods.
Print the updated dictionary.

In [40]:
# 3.6 Answer

my_dict.update({'Food': 'French'})
my_dict.values()

dict_values(['Kevin', '2024', 'RnB', 'French'])

### 3.7

Given this nested dictionary, grab the word "YES".

In [21]:
d = {'key':[634,11,9892,{'another key':['more','values','here',{'target':[9,8,7,'YES']}]}]}
d

{'key': [634,
  11,
  9892,
  {'another key': ['more', 'values', 'here', {'target': [9, 8, 7, 'YES']}]}]}

In [104]:
# 3.7 Answer
d = {'key':[634,11,9892,{'another key':['more','values','here',{'target':[9,8,7,'YES']}]}]}

target = d['key'][3]['another key'][3]['target'][3]
print(target)

YES

### 3.8

What is the difference between a tuple and a set?

In [112]:
# 3.8 Answer
#Tuple are unchangeable, are ordered and duplicates are allowed.
#The values of a tuple uses ()

cars = ('Toyota', 'Subaru', 'Honda')
print(cars.count('Toyota'))

#Sets are unordered, immutable and does not allow doubles but can remove or add items
#The values of a set uses {} and we cannot use indexing since it is unordered

cars = {'Toyota', 'Subaru', 'Honda'}
cars.add('Lexus')
print(cars)

1
{'Subaru', 'Honda', 'Toyota', 'Lexus'}

### 3.9

Given the following list:

`l = [1,2,3,1]`

Convert it to a list with unique values only.

In [103]:
# 3.9 Answer

value = [1,2,3,1]
unique_val = set(value)
unique_list = list(unique_val)
print(unique_list)

[1, 2, 3]

## Exercise 4: Python Operators

### 4.1

Perform the follwoing arithmetic operation: (5+3) x 2

In [84]:
# 4.1 Answer

result = (5 + 3)*2
print(result)

16

### 4.2

Explain the difference between `/` and `//` division operators in Python

In [87]:
# 4.2 Answer

#The / will give a float number, and the // will result in a interger.
#The / will include the decimal points, and // will not.

division1 = 9/2
print(division1)

division2 = 9//2
print(division2)

4.5
4

float

### 4.3

What is the result of 7%3?

In [93]:
# 4.3

result = 7%3
print(result)

#Calculates the remainder of the division.

1

### 4.4

Use the `in` operator to check whether the number 3 and the number 7 are in the following list:

In [25]:
lst = [1,2,3,4,5]

In [95]:
# 4.4 Answer (Don't forget to print your results)

list1 = [1,2,3,4,5]
print(3 in list1)
print(7 in list1)

True
False

### 4.5

Explain the difference between `=` and `==` using the following two variables:

In [30]:
x = 5
y = 10

In [101]:
# 4.5 Answer

# The = is used to assign a value and it does not compare values.
# The == is used to compare two values and returns a "True" or "False" statement

x = 5
y = 10

val = x + y
print(val)

result = x==y
print(result)

result1 = x==5
print(result1)

15
False
True

# The End!